<section class="container">
    <h3 class="pet-species-display">Adoptable Pets:</h3>
    {{#if petData}}
    {{photo_id}}
    {{pet_name}}
    {{pet_age}}
    {{species}}
    {{breed}}
    {{gender}}
    {{arrival_date}}
    {{/if}}
    
</section>