<div class="container" >
   <form class="form search-form">

    <input placeholder="search adoptable pets" id="search">
    <button class="btn btn-primary" type="submit" id="searchbtn">Search</button>

  </form>
  <div class="row" style="display: flex; justify-content: center; align-items: center; height: 100vh; width: 100vw;">
    {{#each pets as |pet|}}
    <div class="col-md-4">
      <div class="card" style="width: 21rem;">
        <div class="card-body">
          <a href="/pet/{{pet.id}}">
            <img class="card-img-top" src="{{pet.photo_url}}" />
          </a>
          <h1 class = "text-primary">{{pet.pet_name}}</h1>
          <p class="card-text">{{pet.breed}}</p>
          <button onclick="addToFav(event)" type="button" class="btn btn-outline-primary" value = {{pet.id}}><i class="bi bi-heart"></i> Add to Favorites</button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
<script src ='/js/favorites.js'></script>
<script src="/js/search.js"></script>