<div class="container" >
  <div class="row" style="display: flex; justify-content: center; align-items: center; height: 100vh; width: 100vw;">
    {{#each pets as |pet|}}
    <div class="col-md-4">
      <div class="card" style="width: 21rem;">
        <div class="card-body">
          <a href="/pet/{{pet.id}}">
            <img class="card-img-top" src="{{pet.photo_url}}" />
          </a>
          <h1 class = "text-primary">{{pet.pet_name}}</h1>
          <p class="card-text">{{pet.breed}}</p>
          <button type="button" class="btn btn-outline-primary" value = {{pet.id}} id="favorite-btn"><i class="bi bi-heart"></i> Add to Favorites</button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
<script src ='/js/favorites.js'></script>