<section class="container">
    <h3 class="pet-species-display">{{pet_name}}</h3>
    <a href="/pet/{{pet.id}}"><img src="{{photo_url}}" /></a>
    <div class = "card">
    
    <li>{{pet_age}}</li>
    <li>{{species}}</li>
    <li>{{breed}}</li>
    <li>{{gender}}</li>
    <li>{{arrival_date}}</li>
        
    </div>
    
    
    
</section>