<div style="display: flex; justify-content: center; align-items: center; height: 100vh; width: 100vw;">
    <div class="card" style="width: 27rem; text-align: center;">
        <div class="card-body">
            <h3 class="pet-species-display">{{pet_name}}</h3>
            <a href="/pet/{{pet.id}}"><img class="card-img-details" src="{{photo_url}}" /></a>
            <ul class="card-text" style="list-style-type: none; padding: 0;">
                <li>{{pet_age}}</li>
                <li>{{breed}}</li>
                <li>{{gender}}</li>
                <li>Arrived: {{format_date arrival_date}}</li>
                <li>Without a home for: <br> {{duration arrival_date}} days</li>
                <li>{{description}}</li>
            </ul>
        </div>
    </div>
</div>


