<div class="card">
     <h3 class="pet-species-display">{{pet_name}}</h3>
  <div class="card-container">
   
    <div class="content-container">
      <a href="/pet/{{pet.id}}"><img
          class="card-img-details"
          src="{{photo_url}}"
        /></a>
      <div class="text-content">
        <ul class="card-text" style="list-style-type: none; padding: 0;">
          <li>Age: {{pet_age}}</li>

          <li>Breed: {{breed}}</li>

          <li>{{gender}}</li>
          <li>Arrived: {{format_date arrival_date}}</li>
          <li>Without a home for: <br /> {{duration arrival_date}} days</li>
          <li>About the pet: {{description}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>