<section class="container">
    <h3 class="pet-species-display">Adoptable Pets:</h3>
    <p>
    {{photo_url}}
    {{pet_name}}
    {{pet_age}}
    {{species}}
    {{breed}}
    {{gender}}
    {{arrival_date}}
    
    </p>
    
</section>